.cityTempSection{
   
    padding: 0;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center !important;
  
}
h1{
    margin: 0;
    padding: 0;
}
h6{
    margin: 0;
}



.citySection{
    display: grid;
    grid-template-columns: 1fr;
    width: 400px;
   margin:auto;
    justify-items: center;
    margin-top: 10px!important;
    background-color: rgb(247, 247, 247);
}

.icon{
    width: 105px;
   
}

.col-start{
    justify-self: start;
}

.col-end{
    justify-self: end;
}