.HeaderItems{
    background-color: rgb(247, 247, 247);
    height: 20px;
    padding-bottom: 10px;
}
.item{
    display: inline;
    font-size: 12px;
    padding-left: 65px;
    padding-right: 60px;
}